body {
	background-image: url("WhiteBG.jpg");
}

.jumbotron {
	background-image: url("MoneyBG2.jpg");
}

.jumbotron h1{
	font-size: 700%;
	font-weight: bold;
	font-family: JasmineUPC;
}

h2{
	font-weight: bold;
	font-size: 350%;
	font-family: JasmineUPC;
}

h3{
	font-weight: bold;
	font-family: JasmineUPC;
}

label{
	font-size: 140%;
	font-family: JasmineUPC;
}
