body {
	background-image: url("WhiteBG2.jpg");
}

.jumbotron {
	background-image: url("MoneyBG3.jpg");
}

.jumbotron h1{
	font-size: 650%;
	font-weight: bold;
	font-family: JasmineUPC;
}

h2{
	font-weight: bold;
	font-size: 350%;
	font-family: JasmineUPC;
}

h3{
	font-weight: bold;
	font-family: JasmineUPC;
}

.jumbotron h4{
	font-weight: bold;
	font-size: 180%;
	font-family: JasmineUPC;
}

label{
	font-size: 140%;
	font-family: JasmineUPC;
}